/Datasets
/Example 1 (Mnist basic)/mnist_tensorflow.model
/Example 1 (Mnist basic)/.ipynb_checkpoints
/Example 2 (Cats and dogs)/y.pickle
/Example 2 (Cats and dogs)/.ipynb_checkpoints
/Example 2 (Cats and dogs)/X.pickle
/Example 3 (Mnist tensorboard)/venv
/Example 3 (Mnist tensorboard)/.idea
/Example 3 (Mnist tensorboard)/.ipynb_checkpoints
/Example 3 (Mnist tensorboard)/logs
/Example 4 (Mnist fine tunning)/venv
/Example 4 (Mnist fine tunning)/.idea
/Example 4 (Mnist fine tunning)/logs
